.nav{
    flex-direction: row;
    font-size: 20px;
    
    width: 100%;
    padding-top: 20px;
    position: relative;
    z-index: 5;
  
}

.nav a{
    margin-left: 100px;
    font-family: "Comic Neue", cursive;
    color: white;
    text-decoration: none;  
}

.nav a:hover{
    color: gray;
    opacity: 0.7;
}